body{
    background-color:rgb(172, 170, 168);   
}
button {
    margin-left: 3px !important;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity)); 
}

#formulario {
    text-align: center;
}

#paginacao {
    text-align: center;
}

button {
    margin-right: 5px;
}

#info {
    color: #FFFFFF;
    text-decoration: none;
}

#info:hover {
    border: 1px solid white;
    border-radius: 3px;
    padding: 2px;
    
}

#bloco {
    margin-top: 20px;
}

div h2 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border: 1px solid black;
    padding: 5px;
    background-color:rgb(116, 113, 110);
    color: #FFFFFF;
}

li {
    background-color: #0D6EFD;
    color: #f5e7e7;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 15px;
    padding: 0 0 5px 10px;
    width: 60%;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow:  9px 7px 5px rgba(50, 50, 50, 0.77);
    transition: width 1s, height 4s;
}

li:hover {
    width: 900px;
    background-color: #0D6EFD;

}
